@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

* {
  margin: 0px;
  padding: 0px;

}


/* base colors */
.principal-background-color   {
  background-color: #ffb887;
}

.contrast-primary-background-color {
  background-color: #be8cff;
}
.contrast-secondary-background-color {
  background-color: #ebc7ff;
}
.contrast-dark-background-color {
  background-color: #8338e3;
}
